<div class="font-semibold ml-2">CHANNELS</div>
<ul nz-menu nzMode="vertical" nzTheme="dark">
   @for (channel of allChannels$ | ngrxPush; track channel.id) {
      <li nz-menu-item (click)="switchActiveChannel(channel)">
         <div class="ml-2">
            <span>{{ channel.name | hashtag }}</span>
         </div>
      </li>
   }
</ul>

<div>
   <button nz-button (click)="showAddChannelModal()">+ Add channel</button>
</div>

@if (isAddChannelModalVisible$ | ngrxPush) {
   <nz-modal
      nzVisible="true"
      nzTitle="Select channel name"
      (nzOnOk)="onChannelModalOk()"
      [nzOkDisabled]="!this.form.valid"
      (nzOnCancel)="onChannelModalCancel()"
      nzCancelText="Cansel"
      nzOkText="Create"
   >
      <div *nzModalContent>
         <form nz-form [formGroup]="form">
            <nz-form-item>
               <nz-form-label nzFor="name">Channel name</nz-form-label>
            </nz-form-item>

            <nz-form-control>
               <input nz-input formControlName="name" id="name"
            /></nz-form-control>
         </form>
      </div>
   </nz-modal>
}
