<div class="font-semibold mb-2">USERS</div>

@for (user of allUsers$ | ngrxPush; track user.id) {
   <div class="mb-2">
      @if (user.isOnline) {
         <span
            class="inline-flex items-center rounded-md bg-green-950 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-green-600/20 ring-inset"
            >Online</span
         >
      } @else {
         <span
            class="inline-flex items-center rounded-md bg-red-950 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-red-600/10 ring-inset"
            >Offline</span
         >
      }
      <span class="ml-2">{{ user.username }}</span>
   </div>
}
